# Dataset
data/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebooks (in case one gets used)
.ipynb_checkpoints/

# Flower SQLite state and logs (in case this gets used later)
.flwr/
state.db

# Dataset & Preprocessed cache
data_nurse/processed/
data_nurse/merged_data.csv
data_nurse/archive.zip

# Results and local models
resultsfeat/
*.pt

# Dataset WESAD (raw ~19 GB download + preprocessed cache)
data_wesad/
wesad_flwr/data_wesad_processed/
